* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  margin-top: 28px;
  justify-content: space-between;
  max-width: 1790px;
}

.header a {
  display: inline-block;
  background: #e50914;
  color: white;
  text-decoration: none;
  align-self: flex-start;
  padding: 8px 18px;
  border-radius: 3px;
  margin-right: 56px;
}

.header a:hover {
  background: #f40612;
}

.main {
  height: 785px;
  background: url(../img/bg.jpg) center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.main h1 {
  font-size: 64px;
  max-width: 510px;
}

.main span {
  font-size: 26px;
}

.main p {
  font-size: 19px;
}

.form-cta {
  display: grid;
  grid-template-columns: 500px 250px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-cta input {
  padding: 20px 10px;
  font-size: 18px;
  font-family: sans-serif;
}

.form-cta button {
  background: #e50914;
  color: white;
  font-size: 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.form-cta button:hover {
  background: #f40612;
}

.form-cta button::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url(../img/seta.svg);
  margin-left: 20px;
}

.main-child {
  z-index: 10;
  display: grid;
  justify-items: center;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.section {
  background: black;
  padding: 4rem 0;
  border-top: 8px solid #222;
}
.section h1 {
  font-size: 50px;
  margin-bottom: 16px;
}

.section p {
  font-size: 26px;
}

.grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
}

.img-tv {
  position: relative;
}

.img-tv img {
  position: relative;
  z-index: 1;
}

.video-tv {
  position: absolute;
  width: 400px;
  top: 80px;
  left: 70px;
}

.device-pile .video-tv {
  width: 340px;
  top: 45px;
  left: 100px;
}

.footer {
  background: black;
  padding: 4rem 0 2rem 0;
  text-align: center;
  border-top: 8px solid #222;
  display: grid;
  justify-items: center;
}

.footer p {
  margin-top: 2rem;
  color: #757575;
  font-size: 13px;
}

.footer .form-cta {
  margin-top: 0;
}
